body {
  padding-top: 60px;
}
.form-control {
  width: 50%;
}

tr:nth-of-type(odd) { 
  background: #e5e5e5; 
}

th { 
  background: #484848; 
  font-weight: bold;
  color: #FFF; 
}

.form-control1 {  
  width: 50%;
}