<div class="container-fluid"> 
    <div class="row">
        <div class="col-lg-12 text-center"  style="height:50px; background-color:#eb6864; padding-top:15px;"> &copy; All Rights Reserved @ Stanford Medicine Music Network - 2015 </div>
    </div>
</div>