<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>      
      <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/diveesh-bucket-1/stylesheets/application.css"  media="all">
      
      <script src="https://s3-us-west-2.amazonaws.com/diveesh-bucket-1/javascripts/jquery.js"></script>
      <title><%= yield :title %></title>
      <%= yield :stylesheet %>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/diveesh-bucket-1/stylesheets/custom.css">
      <link href='http://fonts.googleapis.com/css?family=Dancing+Script:400,700|Josefin+Slab|Droid+Serif|Roboto+Slab' rel='stylesheet' type='text/css'>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

      <%= csrf_meta_tags %>

</head>
    
    <body>
      
    <%= yield %>

    </body>
</html>